.jumbotron{
    margin-top: 0px;
}

.jumbotron-fluid{
    height: auto;
}

.mobile-menu-wrapper{
    height: 100vh;
}

.mobile-menu-wrapper > a{
    color: white;
}

.section-header{
    margin-bottom: 20px;
}

.icon{
    padding: 20;
}

.row {
    padding: 20px;
}
